{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parser": "typescript-eslint-parser",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        },
        "ecmaVersion": 2018
    },
    "plugins": [],
    "rules": {
        "import/no-unresolved": [
            2,
            {
                "ignore": [
                    ""
                ]
            }
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true
            }
        ],
        "dot-notation": [
            "error",
            {
                "allowPattern": "^_"
            }
        ],
        "no-param-reassign": [
            "error",
            {
                "props": true,
                "ignorePropertyModificationsFor": [
                    "state"
                ]
            }
        ]
    }
}